body {
  background: #888;
}
#login {
  width: 600px;
  height: 400px;
  position: fixed;
  background: #fff;
  margin: -200px 0 0 -300px;
  left: 50%;
  top: 50%;
}
#login .title {
  width: 490px;
  height: 92px;
  margin: 60px -15px 0;
  background-color: #1c7443;
  font-family: Viga;
  font-size: 64px;
  color: #fff;
  line-height: 92px;
  padding: 0 70px;
}
#login form {
  overflow: hidden;
  display: block;
  height: 208px;
  margin: 0;
  padding: 40px 70px 0;
  font-family: 'Istok Web';
}
#login form label {
  display: inline-block;
  width: 100px;
  padding-right: 10px;
  font-size: 24px;
  line-height: 53px;
  text-align: right;
  color: #4b4b4b;
}
#login form input {
  width: 300px;
  border: 0;
  border-bottom: 1px #4b4b4b solid;
  font-size: 30px;
  padding: 0 10px;
  margin: 0;
  font-family: 'Istok Web';
  outline: 0;
}
#login form button {
  /*.hide;*/

  margin-top: 100px;
}
#login.fail .title {
  background-color: #741c1c;
}
#login.fail form input {
  border-bottom-color: #741c1c;
  color: #741c1c;
}
#login.ok .title {
  background-color: #1c7443;
}
